:root {
  --bs-purple: #6c0ed8;
  --bs-deeppurple: #461679;
  --bs-pumpkin: #ffe9ac;
  --bs-salmon: #ff7b00;
}

* {
  box-sizing: border-box;
}

button {
  outline: none;
  border: 0;
  cursor: pointer;
}
/* navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 8.5vw;
  padding: .5em;
  background-color: var(--bs-pumpkin);
  position: sticky;
}

.navbar-logo {
  color: var(--bs-purple);
}

.navbar-count {
  /* 
  width: 2.5rem;
  height: 2.5rem;
  line-height: 2.5rem;
  margin-left: 0.2em;
  */
  font-size: 6vw;
  width: 8.5vw;
  height: 8.5vw;
  line-height: 8.5vw;
  text-align: center;
  background-color: var(--bs-purple);
  color: white;
  border-radius: 50%;
}

/* add form */
.add-form {
  display: flex;
  padding: .5em;
  background-color: var(--bs-pumpkin);
  position: sticky;
}
.add-input {
  flex: 1;
  font-size: 5vw;
}
.add-input:focus {
  outline: none;
}

.add-button {
  height: 100%;
  font-size: 5vw;
  padding: 0.3em 0.5em;
  background-color: var(--bs-purple);
  color: white;
}

/* habits */
.habits {
  height: 100%;
  margin-top: -12em;
  padding-top: 12em;
  overflow: auto;
}
.no-scroll::-webkit-scrollbar {
  display: none;
}

.habit {
  font-size: 6vw;
  padding: 0.5em;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.habit > div {
  display: flex;
  align-items: center;
}
.habit-name-wrap {
  flex: 2;
  max-width: 40vw;
}
.habit-button-wrap {
  flex: 1;
}
.habit-icon-wrap {
  justify-content: space-between;
}

.habit-name {
  overflow: hidden;
  text-overflow: ellipsis;
}
.habit-count {
  background-color: var(--bs-purple);
  color: white;
  border-radius: 50%;
  width: 7vw;
  height: 7vw;
  line-height: 7vw;
  text-align: center;
}

.habit-button {
  font-size: 7vw;
  width: 8vw;
  background-color: transparent;
}

.habit-button:hover {
  opacity: 0.8;
}

.habit-increase,
.habit-decrease {
  color: var(--bs-salmon);
}

.habit-delete {
  /* font-size: 2rem; */
  color: var(--bs-deeppurple);
}

.habits-reset {
  position: fixed;
  bottom: 0;
  font-size: 5vw;
  width: 100%;
  padding: 0.5em 0;
  background-color: var(--bs-purple);
  color: white;
}

@media screen and (min-width: 768px) {
  .navbar {
    font-size: 3rem;
  }
  .navbar-count {
    font-size: 2rem;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
  }
  .add-input {
    font-size: 1.75rem;
  }
  .add-button {
    font-size: 1.75rem;
  }
  .habits {
    padding-bottom: 4em;
  }
  .habit {
    font-size: 2rem;
  }
  .habit-count {
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
  }
  .habit-button {
    font-size: 2.75rem;
    width: 1.5em;
  }
  .habits-reset {
    font-size: 2rem;
    width: 750px;
  }
}